# Files to exclude

# Object files/directories
*.o
*obj
*bin
*.gch

# Compiled files
*.dll

# Lunatix library and exe
*libLunatix*
lunatix-demo

# Codeblocks
*layout*
*depend
*gmon.out
*.cbp

# Others
*~
*.log
win-*
html/
*Doxyfile*
lib/
include/SDL2/
include/GL/
*.cppcheck
Makefile.depend
