# Files to exclude

# Object files/directories
*.o
*obj
*bin
_build/

#  Compiled files
*.luac
*.dll

# Lunatix library and exe
*libLunatix*
lunatix-demo

# Codeblocks
*layout*
*depend
*gmon.out
*.cbp

# Others
*~
result-test-lunatix-*.log
win-*
html/
*Doxyfile*
lib/
